[Desktop Entry]
Version=0.1.0
Name=envirometrics
GenericName=envirometrics
Comment=Application de monitoring environnemental IoT.
Terminal=false
Type=Application
Categories=Utility;
Keywords=Flutter;
Icon=envirometrics
